.banner {
    background-image: url('../../assets/header-x1.png');
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    background-color: #15dbff;
    height: 10rem;
    padding: 0 5rem;
    display: flex;
    align-items: flex-end;
  }
  .titleMenu {
    color: white;
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0,0.3);
  }

  @media screen and (max-width: 900px) {
    .banner {
      min-height: 7rem;
      padding: 0 2rem;
      background-size: auto 100%;
      background-position: right;
      background-repeat: no-repeat;
      position: relative;
    }
    .titleMenu {
      color: white;
      font-weight: bold;
      font-size: 3rem;
      text-shadow: 2px 2px 2px rgba(0, 0, 0,0.3);
    }
  }
  
 